@CHARSET "ISO-8859-1";

body{
	background-color:lightorange
}
header{
	heigth:20%;
	with:100%;
	font-weight:bold;
	font-size:50px;
	color:green;
}

table td tr{
	border:2px,solid;
	
}

.tablaCab{
	brackground-color:lightyellow;
}